@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        inline-size: 90vw;
        block-size: 300px;
    }

    section#login > div#imagem {
        float: inline-start;
        inline-size: 30%;
        block-size: 100%;
    }

    section#login > div#formulario {
        float: inline-end;
        inline-size: 70%;
        
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        inline-size: 950px;
        block-size: 400px;
    }

    section#login > div#imagem {
        float: inline-end;
        inline-size: 50%;
        block-size: 100%;
    }

    section#login > div#formulario {
        float: inline-start;
        inline-size: 50%;
    }

    div#formulario > h1{
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.1em;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 1200px) {
    
}